.canvas {
    width: 500px;
    height: 600px;
    background: linear-gradient(180deg, rgb(255, 0, 0) 20%, rgb(255, 251, 0));;
    overflow: hidden;
    filter: blur(2px);
}

.frame {
    border: 50px solid black;
    width: 500px;
    padding: 50px;
    margin: 20px auto;
}

.one {
    width: 425px;
    height: 150px;
    background: linear-gradient(45deg, purple 20%, white);
    margin: 20px auto;
    box-shadow: 0 0 5px 5px rgb(97, 6, 97);
    border-radius: 10px;
    transform: rotate(-10deg);
}

.two {
    width: 400px;
    height: 150px;
    background: linear-gradient(-45deg, rgb(0, 17, 255) 20%, white);
    margin: 0 auto 20px;
    box-shadow: 0 0 3px 3px rgb(99, 99, 252);
    border-radius: 5px 3px 10px 12px;
    transform: rotate(10deg);
}

.one, .two {
    filter: blur(1px);
}

.three {
    width: 475px;
    height: 160px;
    background: linear-gradient(45deg, rgb(0, 225, 255), rgb(186, 252, 64));
    margin: auto;
    box-shadow: 0 0 2px 5px rgb(1, 170, 170);
    border-radius: 10px 16px 20px 8px;
    transform:rotate(-12deg)
}